.longInput
{
	max-width: 400px;
}

.shortInput
{
	display: inline;
	max-width: 200px;
	margin-right:10px;
}

.container
{
	max-width:800px;
}

.start
{
	width:100%;
	margin-bottom:50px;
}

.grid-item 
{ 
	width: 33%; 
}

.spin
{
	display:none!important;
	margin-left:5px;
}