<!DOCTYPE html>
<html>
	<head>
		<title>Ben</title>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
		<script src="https://use.fontawesome.com/997017289e.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<div class="container" id="divContainer"><%- content %></div>
		<script type="text/javascript" src="bundle.js"></script>
	</body>
</html>